:root {
    --container-white: #F8F8F8; /* Main colour of containers */
    --primary-green: #9ABA92; /* Kilchoan green colour */
    --noto: "Noto Sans", sans-serif; /* General body font */
    --karla: "Karla", sans-serif; /* Button font */
    --merriweather: "Merriweather", serif; /* Genereal serif body font */
}

body {
    margin: 0px;
    font-family: var(--noto);
    font-size: 14px;
}

nav {
    background-color:#323232 ;
    width: auto;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav img {
    height: 70px;
    width: auto;
    cursor: pointer;
}

#main-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

#login-image-container {
    background-image: url(images/login-image.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 55%;
    border-radius: 15px 0px 0px 15px
}

#register-image-container {
    background-image: url(images/register-image.png);
    background-position: left;
    background-repeat: no-repeat;
    height: 100%;
    width: 55%;
    border-radius: 15px 0px 0px 15px
}

.access-container {
    width: 800px;
    height: 575px;
    margin-top: 50px;
    background-color:var(--container-white);
    border-radius: 15px;;
    display: flex;
    flex-direction: row;
}

.access-form {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#register-access-form {
    height: 675px;
}

.access-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.access-form p {
    font-family:var(--merriweather);
    margin-top: 15px;
}

.access-form a {
    color: var(--primary-green);
    font-weight: bold;
    text-decoration: none;
}

.access-form a:hover {
    color: #718a6b;
}

.access-form img {
    margin-top: 50px;
    margin-bottom: 40px;
    width: 60%;
}

.access-form input::placeholder {
    color: rgb(187, 187, 187);
    margin-left: 10px;
}

.access-form input:focus {
    outline:2px solid #718a6b;
    border: none;
}

.input-decor {
    outline:2px solid var(--primary-green);
    border-radius: 5px;
    height: 35px;
    width: 70%;
    margin-bottom: 20px;
    padding-left: 10px;
    font-family: var(--noto);
    border: none;
}

.input-submit-decor {
    width: 200px;
    height: 40px;
    font-family: var(--noto);
    font-weight: bold;
    color: white;
    font-size: 20px;
    background-color: var(--primary-green);
    outline: 3px solid #83A27C;
    border-radius: 5px;   
    border: none;
}

.input-submit-decor:hover {
    outline: 3px solid #718a6b;
    background-color: #8eac87;
    cursor: pointer;  
}

.input-check {
    accent-color: var(--primary-green);
    width: 16px;
    height: 16px;
    margin: 0px 10px 10px 10px;
    font-size: 16px;
    align-self: center;

}

input[type="checkbox"]:focus {
    outline: none;
    box-shadow: none;
}

#remember-container {
    margin-bottom: 10px;
    height: 16px;
    font-size: 12px;
    display: flex;
    align-items: center;
}

#trust-code-title {
    display: flex;
    width: 65%;
    justify-content: left;
    font-family: var(--noto);
    margin: 0px 0px 5px 0px;
}

.code-input {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.code-input input {
    width: 30px;
    height: 30px;
    text-align: center;
    font-family: var(--noto);
    font-size: 16px;
    border: 2px solid var(--primary-green);
    border-radius: 6px;
}





